/**********/
/* LAYOUT */
/**********/
.layout-grid {
	display: grid;
	height: 100vh;
	grid-template-rows: 50px 1fr 50px;
	grid-template-columns: 2fr 1fr;
}
header {
	grid-row: 1;
	grid-column: 1 / span 2;
	border: 1px solid red;
}
main {
	grid-row: 2;
	grid-column: 1;
	border: 1px solid green;
}
aside {
	grid-row: 2;
	grid-column: 2;
	border: 1px solid blue;
}
footer {
	grid-row: 3;
	grid-column: 1 / span 2;
	border: 1px solid brown;
}

#app {
}
.editing {
	background: #eee !important;
}
.person {
	border-width: 2px;
}
.family {
	width: 7em;
	height: 5em;
	background: lightyellow;
	border-radius: 50%;
	text-align: center;
}
.M {
	background: lightblue;
}
.F {
	background: lightpink;
}
.unknown {
	background: #ccc;
}

h1 input {
	font: 1.6em bold serif;
	border: 0;
}
h2, h2 input {
	font: 1.2em bold serif;
	border: 0;
}

/* dagre-d3 */
#dagre-svg {
	border: 1px solid blue;
}
#dagre-svg .node {
	pointer-events: all;
}
.node rect,
.node .label {
	cursor: pointer;
	stroke: #333;
	stroke-width: 1.5px;
}
.node.selected rect {
	stroke: red;
	stroke-width: 2.5px;
}
.edgePath path.path {
	stroke: #333;
	fill: none;
	stroke-width: 1.5px;
}
foreignObject p {
	text-align: center;
}
text {
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
	font-size: 14px;
}

/* Cytoscape.js */
#cy {
	width: 90vw;
	height: 0px;
	display: block;
	border: 2px solid fuchsia;
}
