/**********/
/* LAYOUT */
/**********/
.layout-grid {
	display: grid;
	height: 100vh;
	grid-template-rows: 50px 1fr 50px;
	grid-template-columns: 2fr 1fr;
}
header {
	grid-row: 1;
	grid-column: 1 / span 2;
	background: #666;
	color: #eee;
	padding: 0.2em 0.5em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
main {
	grid-row: 2;
	grid-column: 1;
	padding: 5px 5px;
}
aside {
	grid-row: 2;
	grid-column: 2;
	padding-right: 1em;
	background: #ccc;
	color: #222;
	padding: 0.2em 1em;
	font-size: 1.2em;
	font-family: Roboto, sans-serif;
}
footer {
	grid-row: 3;
	grid-column: 1 / span 2;
	background: #333;
	color: #eee;
	padding: 0.2em 0.5em;
}

#app {
}


/********/
/* TEXT */
/********/
h1 {
	font: 1.2em bold Roboto, sans-serif;
	color: white;
	display: inline-block;
}
h2 input {
	font: 1.5em bold serif;
	border: 0;
}
h3 {
	font: 1.2em bold Roboto, sans-serif;
}
h3 span {
    font-size: 0.8em;
    color: #888;
}
h4, h4 input {
	font: 1.2em bold serif;
	border: 0;
}
i {
	font-family: "Material Icons";
	font-style: normal;
	cursor: pointer;
}
i:hover {
	color: blue;
}


/***********/
/* SIDEBAR */
/***********/
section {
    margin-bottom: 1em;
}
ol, ul, h5 {
    list-style-position: inside;
    margin-left: 1em;
}
.editing {
	background: #eee !important;
}
.right {
	float: right;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.personLine {
	font-size: 0.9em;
}
.personLine span {
	font-size: 0.8em;
}
.event > div {
    display: flex;
}


/***********/
/* PALETTE */
/***********/
#palette {
    position: fixed;
    top: 4em;
    left: 1em;
    width: 60px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    background: #666;
}
#palette button {
    background: #333;
    color: #eee;
    transition: none;
}
#palette button:hover {
    color: orange;
}


/********/
/* TREE */
/********/
#dagre-svg .person {
	border-width: 2px;
}
#dagre-svg .family {
	width: 7em;
	height: 5em;
	background: lightyellow;
	border-radius: 50%;
	text-align: center;
}
#dagre-svg .M {
	background: lightblue;
}
#dagre-svg .F {
	background: lightpink;
}
#dagre-svg .unknown {
	background: #ccc;
}


/************/
/* DAGRE-D3 */
/************/
#dagre-svg {
	border: 1px solid #ccc;
	min-height: 600px;
    min-width: 600px;
}
#dagre-svg .node {
	pointer-events: all;
}
.node rect,
.node .label {
	cursor: pointer;
	stroke: #333;
	stroke-width: 1.5px;
}
.node.selected rect,
.node.selected ellipse {
    stroke-width: 2.5px;
}
.node.M.selected rect {
	stroke: blue;
}
.node.F.selected rect {
	stroke: red;
}
.node.unknown.selected rect {
    stroke: #333;
}
.node.selected ellipse {
    stroke: goldenrod;
}
.node .handles text {
    fill: #999;
    color: white;
	font-family: "Material Icons";
	cursor: pointer;
    opacity: 0;
}
.node:hover .handles text {
    fill: #666;
    opacity: 1;
}
.handles text:hover {
    fill: black;
    opacity: 1;
}
.handles text.active {
	fill: purple;
    opacity: 1;
}
.node .label p {
	text-align: center;
	font-weight: 300;
	font-family: Roboto, sans-serf;
	font-size: 14px;
}
.edgePath path.path {
	stroke: #333;
	fill: none;
	stroke-width: 1.5px;
}
.edgeLabel i {
    color: black;
	font-family: "Material Icons";
	cursor: pointer;
}
.edgeLabel i:hover {
    color: red; /* scissors */
}
