<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<title>Tree45</title>
	<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
	<link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css">
	<link rel="stylesheet" href="css/style.css">
    <!--link rel="stylesheet" href="https://unpkg.com/v-autocomplete@1.8.2/dist/v-autocomplete.css"></link-->
	<link rel="shortcut icon" href="favicon.ico">

</head>
<body>
	<div id="app" class="layout-grid">
		<header>
			<h1>Family Tree Editor</h1>
			<form>
				<label>Choose a GEDCOM file:
					<input type="file" id="file" ref="file" @change="storeFormFile()"/>
				</label>
				<vs-button @click="submitForm()">Upload</vs-button>
		    </form>
			<vs-button vs-type="primary-filled" @click="app.newIndividual()">Add Person</vs-button>
            <vs-button vs-type="primary-filled" @click="app.newFamily()">Add Family</vs-button>
			<!--button onclick="app.newFamily()">Add Family</button-->
		</header>
		<main>
			<svg id="dagre-svg" width="100%" height="100%"></svg>
		</main>
		<aside>
			<div v-if="selectedNode">
				<individual
					v-if="selectedNode.type == 'INDI'"
					:data="selectedNode"
					@update="selectedNode = arguments[0]">
				</individual>
				<family
					v-else-if="selectedNode.type == 'FAM'"
					:data="selectedNode"
					@update="selectedNode = arguments[0]">
				</family>
				<span v-else>Invalid selection.</span>
			</div>
			<div v-else>
                <tree-stats :individuals="tree.individuals" :title="meta.title" :author="meta.author"></tree-stats>
            </div>
				<hr>
			<i>content_cut</i>
			<i>add</i>
			<i>remove</i>
			<i>add_circle_outline</i>
			<i>add_box</i>
				<hr>
			<i>visibility</i>
			<i>visibility_off</i>
			<i>save</i>
			<i>refresh</i>
			<i>delete</i>
				<hr>
			<i>person_add</i>
			<i>group_add</i>
			<i>menu</i>
			<i>more_horiz</i>
			<i>more_vert</i>
				<hr>
			<i>zoom_in</i>
			<i>zoom_out</i>
			<i>expand_less</i>
			<i>expand_more</i>
			<i>toggle_off</i>
				<hr>
			<i>settings</i>
			<i>error</i>
			<i>warning</i>
			<i>undo</i>
			<i>redo</i>
				<hr>
		</aside>
		<footer>
			<p>&copy; {{ new Date().getFullYear() }}</p>
		</footer>
	</div>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.2/dagre.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dagre-d3/0.6.1/dagre-d3.min.js"></script>
	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.12/cytoscape.min.js"></script>
	<script src="https://unpkg.com/dagre@0.8.2/dist/dagre.js"></script>
	<script src="js/3rdparty/cytoscape-dagre.js"></script-->
    <script src="js/components/treeStats.js"></script>
    <script src="js/components/treeNode.js"></script>
	<script src="js/components/individual.js"></script>
	<script src="js/components/family.js"></script>
	<script src="js/components/personLine.js"></script>
	<script src="js/components/event.js"></script>
	<script src="js/vueapp.js"></script>
    <script src="js/layout-dagre.js"></script>
	<!--script src="https://unpkg.com/v-autocomplete@1.8.2/dist/v-autocomplete.js"></script-->
	<script>
    //Vue.use(VAutocomplete.default);
	const gedcom2en = {
		"BIRT": "birth",
		"BAPM": "baptism",
		"CHR" : "christening",
		"CHRA": "adult christening",
		"DEAT": "death",
		"BURI": "burial",
		"CREM": "cremation"
	};
	</script>
</body>
<html>
