<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<title>Tree45</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="favicon.ico">

</head>
<body>
	<div id="app">
		<v-app>
			<v-content>
				<v-toolbar dense prominent extended>
					<v-toolbar-side-icon></v-toolbar-side-icon>
					<v-toolbar-title>Title</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-btn icon>
						<v-icon>search</v-icon>
					</v-btn>
					<v-btn icon>
						<v-icon>favorite</v-icon>
					</v-btn>
					<v-btn icon>
						<v-icon>more_vert</v-icon>
					</v-btn>
				</v-toolbar>
				<v-container fluid grid-list-xl>
					<h1><input v-model="title"></input></h1>
					<h2>by <input v-model="author"></input></h2>
					<v-layout row justify-space-between>
						<individual
							v-for="indiv in individuals"
							:data="indiv"
							:key="indiv.id">
						</individual>
						<family
							v-for="fam in families"
							:data="fam"
							:key="fam.id">
						</family>
					</v-layout>
				</v-container>
			</v-content>
			<v-footer class="pa-3">
				<v-spacer></v-spacer>
				<div>&copy; {{ new Date().getFullYear() }}</div>
			</v-footer>
		</v-app>
		<svg id="dagre-svg" width="800" height="600"></svg>
	</div>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.2/dagre.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dagre-d3/0.6.1/dagre-d3.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
	<script src="js/individual.js"></script>
	<script src="js/family.js"></script>
	<script src="js/vueapp.js"></script>
	<script src="js/layout.js"></script>
</body>
<html>
